</body>
<footer>
   <div class="footer-info">
      <a href="/contact-us">Contact Us</a>
      <span>Kifaru Adventures</span>
      <span>Mikhail Cedras | WDD330</span>
   </div>

   <hr>
   
   <div class="footer-links">
   <ul>
      <li><a href="https://www.tripadvisor.co.za/" target="_blank"><img src="img/tripadvisor-logo.png"></a></li>
      <li><a href="https://www.facebook.com" target="_blank"><img src="img/facebook-icon.png"></a></li>
      <li><a href="https://www.whatsapp.com" target="_blank"><img src="img/whatsapp-icon.png"></a></li>
      <li><a href="https://instagram.com" target="_blank"><img src="img/instagram-logo.png"></a></li>
      <li><a href="https://www.twitter.com" target="_blank"><img src="img/twitter-icon.png"></a></li>
      <li><a href="https://www.google.com/maps" target="_blank"><img src="img/google-maps.png"></a></li>
   </ul>
   </div>
</footer>
</html>