<%- include('includes/header.ejs') %>
<main class="error-main">
    <h1 class="errorStatus">Hmm... it doesn't look like we have this page on our site.</h1>
    <img src="/img/error.jpg" alt="Zebra Error Image">
</main>
<%- include('includes/footer.ejs') %>