<%- include('includes/header.ejs') %>
<main class="error-main">
    <h1 class="errorStatus">Some error occurred...</h1>
    <h2 class="errorStatus">Our developers are working on fixing this, sorry for the inconvenience.</h2>
    <img src="/img/error.jpg" alt="Zebra Error Image">
</main>
<%- include('includes/footer.ejs') %>