<%- include('includes/header.ejs') %>
<main>
   <h1>Contact Us</h1>
   <h2>We'd love to hear from you!</h2>

   <label for="fname">First Name: <input type="text" name="fname" id="fname" required></label><br>
   <label for="lname">Last Name: <input type="text" name="lname" id="lname" required></label><br>
   <label for="email">Email Address: <input type="email" name="email" id="email" required></label>

</main>
<%- include('includes/footer.ejs') %>