<%- include('includes/header.ejs') %>
<main class="home-main">
   <div class="img-container">
      <img class="home-img" src="/img/home.jpg" alt="Home Page Image of Rhino and Wildebeest">
   </div>

   <div class="overlay">
      <h2>"A World Awaits!"</h2>
      <a href="/safari">Explore Now</a>
   </div>
</main>
<%- include('includes/footer.ejs') %>