/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=DM+Serif+Display&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


/* Colors */
:root {
   --bluegreen: #99DDC8;
   --pistachio: #95BF74;
   --middlegreen: #5B8B55;
   --ferngreen: #556F44;
   --darkslategrey: #283F3B;
   --pistachio-rgba: rgba(149, 191, 116, 0.85);
}

/* Global CSS */

/* * {
  outline: 1px solid #f00 !important;
} */
html, body {
  font-family: "DM Serif Display", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(110deg, var(--darkslategrey) 60%, black 60%);
  scroll-behavior: smooth;
}

 /* Include Snippets CSS */

 /* Header CSS */
header {
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: var(--darkslategrey) 2px solid;
}

.home-logo-a,
.home-logo-a:visited {
  color: black;
  text-decoration: none;
}

.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 2%;
  column-gap: 10px;
  max-width: 100vw;
  background-color: var(--middlegreen);
}

.header-info img {
  width: 15%;
}

.header-info h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 1.5em;
}
 /* Nav CSS */

 /* Developed using this template: https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0 */
 nav ul {
   margin: 0;
 }
 .menuItem {
  display: block;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 3%;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 1.45rem;
  right: 1rem;
  padding: 4px;
  border: var(--bluegreen) solid 2px;
  border-radius: 10%;
  background: var(--pistachio);
  cursor: pointer;
}

.fixed-ham {
  position: fixed;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-120%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--darkslategrey);
  color: var(--bluegreen);
  list-style: none;
  padding: 4rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.showMenu {
  transform: translateY(0);
  height: 100%;
  margin-top: -10px;
  overflow: hidden;
}
 /* Footer CSS */
 footer {
   font-family: "DM Serif Display", sans-serif;
   background: url('/img/blackmamba.png');
   color: whitesmoke;
   margin: 0 auto;
   text-align: center;
   padding: 3%;
   border-top: var(--pistachio) 2px solid;
 }

 .footer-info a,
 .footer-info a:hover,
 .footer-info a:visited {
    text-decoration: none;
    color: var(--bluegreen);
 }

 footer ul {
   padding: 0%;
   list-style-type: none;
   display: grid;
   grid-template-columns:repeat(3, 1fr);
   row-gap: 30px;
 }

 .footer-info {
   display: flex;
   flex-direction: column;
   column-gap: 5px;
  font-size: 1.25em;
  padding: 1% 0% 1% 0%;
 }

 .footer-links img {
   width: 25%;
 }

 hr {
   width: 95%;
   border: none;
   background-color: var(--pistachio);
   height: 0.2px;
 }



 /* Content CSS */
 /* Home CSS */
.home-main {
  position: relative;
  padding: 0;
  margin: 0;
}


.vertical-safari {
  display: none;
}

 .img-container {
   border-top: #99DDC8 solid 2px;
   border-bottom: #99DDC8 solid 2px;
   width: 100%;
   height: 450px;
   overflow: hidden;
 }

 .home-img {
   width: 600px;
   height: 450px;
   object-fit: cover;
   display: block;
 }

 .overlay {
   position: absolute;
   top: 10%;
   left: 50%;
   transform:translate(-50%, -50%);
   margin: 0 auto;
   text-align: center;
   border: var(--darkslategrey) 2px solid;
   color: whitesmoke;
   background: var(--pistachio-rgba);
   border-radius: 15%;
   padding: 2% 2% 5% 2%;
 }

 .overlay a,
 .overlay a:visited {
    padding: 2% 10% 2% 10%;
    background-color: var(--darkslategrey);
    color: whitesmoke;
    text-decoration: none;
    border: whitesmoke 2px solid;
 }

 .home-info-div {
  color: whitesmoke;
  border: white 2px solid;
  padding: 2%;
  background-color: #5B8B55;
  margin: 10%;
  max-width: 100%;
  text-align: center;
  justify-content: center;
 }

 .home-info-div ul{
  padding: 0;
  list-style-type: none;
  text-align: left;
 }

 .home-info-div img{
   max-width: 90%;
   border: white 2px solid;
   box-shadow: #99DDC8 0 0 30px;
 }


 /* Safari Page */
 .safari-main {
  box-sizing:border-box;
  padding: 5%;
 }

 .cards {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   gap: 30px;
 }

 .card {
   position: relative;
    border: var(--bluegreen) 2px solid;
    background-color: var(--ferngreen);
    box-sizing: border-box;
    text-align: center;
    height: auto;
    padding-bottom: 10%;
    transition: transform 200ms 50ms ease-out;
    /* box-shadow: 0 0 5px var(--pistachio); */
 }

 .card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px var(--pistachio);
 }

 .card h2 {
   text-align: center;
   font-size: 0.95em;
 }

 .card img {
   max-width: 100%;
   border-bottom: var(--bluegreen) 2px solid;
 }

 .details-a,
 .details-a:visited,
 .details-a:hover {
   color: black;
   display: block;
   text-decoration: none;

 }
 .display-button {
   font-size: 0.9em;
   text-align: center;
   color: var(--bluegreen);
   background-color: #283F3B;
   padding: 2%;
   text-decoration: none;
   border: var(--bluegreen) 2px solid;
 }

 /* Details Page */

 .safari-details {
   padding: 5%;
   font-family: "Nanum Myeongjo", sans-serif;
 
 }
 .details-header {
   text-align: center;
   color: var(--pistachio);
   font-size: 1.5em;
 }

 .product-images img{
   max-width: 80%;
   border: var(--pistachio) solid 3px;
 }

 .product-images {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   row-gap: 20px;
   margin: 0 auto;
   text-align: center;
 }

 .details {
   display: flex;
   flex-direction: column-reverse;
   row-gap: 20px;
 }

 .product-details {
  font-size: 0.9em;
  margin: 0 auto;
  max-width: 75%;
  font-weight: 300;
   padding: 2%;
   color: black;
   box-shadow: 0 0 0 2px var(--darkslategrey),
               0 0 0 4px var(--pistachio),
               0 0 0 6px var(--darkslategrey),
               0 0 0 8px var(--pistachio);
   background-color: var(--pistachio-rgba);
 }

 .backbutton {
   font-family: inherit;
   font-weight: 700;
   color: var(--darkslategrey);
   border: var(--middlegreen) 2px outset;
   border-radius: 1000px;
   box-shadow: 0 0 3px whitesmoke;
   background: linear-gradient(to right, var(--bluegreen), var(--pistachio));
   text-decoration: none;
   padding: 2%;
 }

 .contact-details,
 .contact-details:visited,
 .contact-details:hover {
   width: 75%;
   margin: 0 auto;
   display: block;
   margin-top: 20px;
   color: var(--darkslategrey);
   font-weight: 700;
   text-decoration: none;
   text-align: center;
   padding: 2%;
   border: var(--darkslategrey) 2px outset;
   background-color: var(--bluegreen);
 }

 /* Hunting */
 .hunting-main {
   padding: 10%;
   margin: 0 auto;
 }
.hunting-cards {
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.hunt-card {
  color: rgb(14, 14, 14);
  border: var(--pistachio) 2px solid;
  box-shadow: 0 0 5px var(--pistachio);
  padding: 5%;
  background-color: var(--ferngreen);
}

.hunt-card summary{
  font-size: 1.1em;
  font-weight: 700;
}
.hunt-card img {
  width: 30px;
}

.hunt-card h3 {
  font-size: 1.1em;
}

.hunt-desc {
  color: rgb(14, 14, 14);
  font-weight: 700;
  font-size: 1.1em;
}
.tick {
  justify-self: center;
  align-self: center;
  color: greenyellow;
}

.cross {
  justify-self: center;
  align-self: center;
  color: red;
  font-weight: 700;
}

.hunt-li {
  width: 150px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
}

.hunt-services {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

/* Slideshow */
.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  border: var(--pistachio) 2px solid;
  box-shadow: 0 0 5px whitesmoke;
  margin-bottom: 3%;
}

/* Caption text */
.text {
  color: black;
  font-size: 0.9em;
  position: absolute;

  bottom: 8px;
  border: whitesmoke 2px solid;
  justify-content: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 150px;
  text-align: center;
  background-color: var(--pistachio);
}

.fade {
  animation-name: fade;
  animation-duration: 5000ms;
}

@keyframes fade {
  0% {
    opacity: .6
  }
  100% {
    opacity: 1
  }
}

/* Fishing */
.fishing-main {
  padding: 5%;
  margin: 0 auto;
}

.catch {
  padding: 2%;
  background-color: var(--ferngreen);
  border: var(--pistachio) 2px solid;
  box-shadow: 0 0 5px whitesmoke;
  margin-bottom: 2%;
  font-size: 0.9em;
  font-weight: 700;
}

.catch h2 {
  text-align: center;
}


.image-gallery {
  padding: 2%;
  background-color: var(--ferngreen);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: 2px solid var(--pistachio);
  box-shadow: 0 0 5px whitesmoke;
}


.image-gallery img {
  max-width: 100%;
  border: solid 2px var(--darkslategrey);
}

/* Contact Us */
.contact-main {
  font-size: 1em;
  color: var(--pistachio);
  text-align: center;
}

.contact-main form {
  font-weight: 700;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-main label {
  display: inline-block;
  width: 200px;
  text-align: left;
  padding-top:1.5%;
}

.contact-main input {
  font-family: inherit;
   text-align: left;
   width:35%;
}

.contact-button {
  padding: 1% 2%;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.9em;
  margin-top: 4%;
  margin-bottom: 3%;
}

.tel {
  font-size: 0.9em;
  margin: 0 auto;
  width: 80%;
  background: var(--pistachio);
  color:rgb(14, 14, 14);
}
/* .contact-main input[type="text"]:focus:invalid,
.contact-main input[type="email"]:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}  */
