@media screen and (min-width: 600px) {

  body {
    background: linear-gradient(105deg, var(--darkslategrey) 60%, black 60%);
  }

   .header-info {
      padding: 0.5%;
      column-gap: 10px;
    }

    .header-info img {
      width: 12.5%;
    }

    .hamburger {
       top: 2rem;
       right: 2rem;
    }

    .menuItem {
      font-size: 1.4rem;
    }

    .overlay {
      top: 8%;
    }

   .home-img {
      width: 900px;
      height: 450px;
      object-fit: cover;
    }

    .home-info-div ul,
    .home-info-div p {
      text-align: left;
      padding: 1% 6% 1% 6%;
    }

    .home-info-div img{
      max-width: 60%;
    }

    .cards {
      grid-template-columns: repeat(3, 1fr);
    }

    .product-deatails {
      grid-area: desc;
    }

    .product-images {
      grid-area: images;
    }

    .contact-details {
      grid-area: cbutton
    }

    .details {
      display: grid;
      grid-template-areas: "images desc"
                           "images cbutton"
                           "images ...";
    }

    .catch {
      grid-area: catch;
    }

    .image-gallery {
      grid-area: gallery;
    }
    .fishing {
      display: grid;
      column-gap: 20px;
      grid-template-areas: "catch gallery"
                            ". gallery";
                            
    }

    .backbutton {
      padding: 1%;
    }

   .footer-links img {
      width: 15%;
    }

}